@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

main{
    display: flex;
    padding: 20px;
    max-width: 100%;
    gap: 15px;
    min-height: 100vh;
    background-color: #1d191e;
}

#modal-background{
    background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    min-height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#form-section{
    display: flex;
    align-items: end;
    justify-content: center;
    min-height: 200px;
    max-width: 500px;
    padding: 10px;
    border-radius: 15px;
}

#form-section > form {
    background-color: #3a343c;
    height: 370px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.37);
    color: #fff;
}

#form-update-transaction{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    min-height: 280px;
    width: 500px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.322);
}
#form-update-transaction input{
    margin: 5px 0px;
}

#form-update-transaction{
    background-color: #3a343c;
    
}

#add-transaction-form label{
    margin: 10px 0px;
}

#form-update-transaction button {
    background-color: #2660a4;
}

#form-update-transaction > h2 {
    margin: 10px 0px;
    text-align: center;
}

#form-section > form,#form-update-transaction > form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form > input {
    height: 40px;
    width: 400px;
    outline: none;
    border-radius: 10px;
    padding: 4px;
    font-size: 16px;
}

form > button {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #ffff;
    background-color: #4DA167;
    cursor: pointer;
    margin: 15px auto;
}

form > h2 {
    font-size: 22px;
    margin-bottom: 20px;
}


table, th,td{
    border-bottom: 2px solid #afb3bb;
    border-collapse:collapse;
    color:#afb3bb;
}

tr, th, td{
    width: 260px;
    height: 45px;
}

td {
    text-align: center;
}

#transactions {
    padding-top: 50px;
    max-width: 70rem;
    padding: 20px;
}

#transactions div {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    max-width: 950px;
    justify-content: space-between;
    align-items: center;
    background-color: #3a343c;
    height: 60px;
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
}

.table-section{
    max-width: 60rem;
    padding: 20px;
    border-radius: 10px;
}


.actions {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 300px;
}

.actions button {
    height: 25px;
    border-radius: 7px;
    padding: 2px;
    cursor: pointer;
}
.update-btn {
    color: #4DA167 !important;
    font-weight: bold;
    background: none;
    border: none;
}

.remove-btn {
    color: #e13737 !important;
    font-weight: bold;
    background: none;
    border: none;
}

.negative-balance {
    color: #e13737;
}

.positive-balance {
    color: #4DA167;
}

@media (max-width: 1100px) {
    main {
        flex-direction: column;
    }
}